@use "sass:map";
@use "../utilities/maps" as mapa;
@use "../utilities/extend";

main {
    background-color: map.get(mapa.$colores, color-primario);
    font-family: "Roboto", sans-serif;

    h2 {
        @extend .flex-center;
        padding: 15px;
    }
}


#descripcion-ecommerce {
    font-size: 24px;
    padding: 20px;
}


#container-contacto {
    text-align: center;
}

#container-ayuda {
    text-align: center;
}