@use "sass:map";
@use "../utilities/maps" as mapa;
@use "../utilities/extend";

body {
    background: linear-gradient(map.get(mapa.$colores, color-secundario) 25%, map.get(mapa.$colores, color-primario) 75%);
    font-family: "Roboto", sans-serif;

    h2 {
        @extend .flex-center;
        padding: 15px;
    }
}

#descripcion-ecommerce {
    font-size: 24px;
    padding: 20px;
}


#container-contacto {
    text-align: center;
}

#container-ayuda {
    text-align: center;
}