@use "../base/variables";

.section-contenedor-promos div div {
    gap: 20px;
    margin-bottom: 10px;
    justify-content: center;

    div {
        border: 1px solid;
        border-radius: 12px;
        background-color: white;

        &:hover {
            background-color: variables.$color-primario;
            border: 1px solid black;
        }
    }
}