@use "sass:map";
@use "../utilities/maps" as mapa;

.section-contenedor-promos div div {
    gap: 20px;
    margin-bottom: 10px;
    justify-content: center;

    div {
        border: 1px solid;
        border-radius: 12px;
        background-color: white;

        &:hover {
            background: linear-gradient(map.get(mapa.$colores, color-secundario), map.get(mapa.$colores, color-primario));
            border: 1px solid map.get(mapa.$colores, color-cuarto);
        }
    }
}