@use "sass:map";
@use "../utilities/maps" as mapa;
@use "../utilities/extend";

.section-contenedor-productos {
    margin: 20px;

    div{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        padding: 20px;

        div {
            background-color: map.get(mapa.$colores, color-secundario);
            padding: 20px;
            border-radius: 12px;
            border: 1px solid;
            flex-direction: column;
            align-items: center;
            @extend .flex-center;

            &:hover {
                background-color: map.get(mapa.$colores, color-primario);
            }

            img {
                width: 200px;
            }
        }
    }


}
