@use "sass:map";
@use "../utilities/maps" as mapa;
@use "../utilities/extend";
@use "../utilities/mixin";

.section-contenedor-productos {
    margin: 20px;

    div{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        padding: 20px;

        div {
            background-color: map.get(mapa.$colores, color-secundario);
            @include mixin.section-variables(20px, 12px, 1px solid, column, center);
            @extend .flex-center;

            &:hover {
                background: linear-gradient(map.get(mapa.$colores, color-secundario), map.get(mapa.$colores, color-primario));
            }

            img {
                width: 200px;
            }
        }
    }

}
