main {
    background-color: rgb(255, 212, 219);
    font-family: "Roboto", sans-serif;
}


.container-encabezado {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    height: 200px;
}

#descripcion-ecommerce {
    font-size: 24px;
    padding: 20px;
}

.section-contenedor-productos {
    margin: 20px;
}

.grilla-productos div {
    background-color: white;
    padding: 20px;
    border-radius: 12px;
    border: 1px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.grilla-productos div img {
    width: 200px;
}

.grilla-productos div:hover {
    background-color: lightpink;
}


.grilla-productos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

.container-foto-logo {
    width: 200px;
}

.container-foto-menu-hamb {
    display: none;
}

.container-slogan {
    background-color: white;
}

#slogan-ecommerce {
    display: flex;
    justify-content: center;
}

#foto-logo {
    width: 200px;
}

.container-foto-cart {
    display: flex;
    width: 200px;
    justify-content: center;
    align-items: center;
}

#foto-cart {
    width: 50px;
    height: 50px;
}

#promos-title {
    display: flex;
    justify-content: center;
}


#title-section {
    display: flex;
    justify-content: center;
    padding: 15px;
}

.nav-list {
    list-style: none;
    display: flex;
    gap: 10px;
}

.nav-list a {
    text-decoration: none;
    color: white;
    font-size: 24px;
    padding: 10px;
    text-align: center;
}

.nav-list a:hover {
    background-color: lightpink;
    border: 1px solid white;
}

.section-contenedor-promos div div {
    gap: 20px;
    margin-bottom: 10px;
    justify-content: center;
}

.section-contenedor-promos div div div {
    border: 1px solid;
    border-radius: 12px;
    background-color: white;
}

.section-contenedor-promos div div div:hover {
    background-color: lightpink;
    color: white;
    border: 1px solid black;
}

#container-contacto{
    text-align: center;
}

#container-ayuda{
    text-align: center;
}

@media (max-width:980px) {

    .grilla-productos {
        grid-template-columns: repeat(2, 1fr);
    }

    .navbar {
        display: none;
    }

    .container-foto-cart {
        display: none;
    }

    .container-foto-menu-hamb {
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-content: center;
    }

    #foto-menu-hamb {
        width: 125px;
        height: 75px;
    }

    .grilla-productos div img {
        width: 150px;
    }

}

@media (max-width:480px) {

    .grilla-productos {
        grid-template-columns: repeat(1, 1fr);
    }

}