/* @media (max-width: 980px) {
  .grilla-productos {
    grid-template-columns: repeat(2, 1fr);
  }
  .navbar {
    display: none;
  }
  .container-foto-cart {
    display: none;
  }
  .container-foto-menu-hamb {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
  }
  #foto-menu-hamb {
    width: 125px;
    height: 75px;
  }
  .grilla-productos div img {
    width: 150px;
  }
}
@media (max-width: 480px) {
  .grilla-productos {
    grid-template-columns: repeat(1, 1fr);
  }
}
 */