@media (max-width: 980px) {
  .section-contenedor-productos .grilla-productos{
    grid-template-columns: repeat(2, 1fr);
  }
  .section-contenedor-productos .grilla-productos div img {
    width: 150px;
  } 
}

@media (max-width: 480px) {
  .section-contenedor-productos .grilla-productos{
    grid-template-columns: repeat(1, 1fr);
  }
} 
